<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362229846944-d49gukaa62oh4o9tejvdt9h7p72btrjk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362229846944-d49gukaa62oh4o9tejvdt9h7p72btrjk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>362229846944-cca46h1tueog8k8qulpj0cmdnje2laoh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCG3GgpW7HbvdTaEj-2tnV811W4t9JX6GE</string>
	<key>GCM_SENDER_ID</key>
	<string>362229846944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.filmtracker</string>
	<key>PROJECT_ID</key>
	<string>filmtracker-a490d</string>
	<key>STORAGE_BUCKET</key>
	<string>filmtracker-a490d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362229846944:ios:afe0d756acdf62cd630ac5</string>
</dict>
</plist>